%h1
  = @recipe.name

- @steps.each_with_index do |step, i|
  - verbs = step.elements.where(dictionary_type: 'Verb')
  - materials = step.elements.where(dictionary_type: 'Material')
  - tools = step.elements.where(dictionary_type: 'Tool')
  %div{class: "step"}
    %div{class: "index flex"}
      = "#{i + 1}."
      - if verbs.blank?
        add verbs!
      - verbs.each do |element|
        = element.dictionary.body
      = link_to "delete", step_path(step.id), class: "delete_step delete", method: :delete
    %div{class: :flex}
      %div{class: "tool element"}
        - if tools.blank?
          %div{class: :label}
            %label{for: :keyword_keyword, class: "label"}
              add tools!
        - tools.each do |element|
          = link_to image_tag(element.image_url.body, class: :delete_image), element_path(element.id), method: :delete
      %div{class: "material element"}
        - if materials.blank?
          %div{class: :label}
            %label{for: :keyword_keyword, class: "label"}
              add ingredients!
        - materials.each do |element|
          = link_to image_tag(element.image_url.body, class: :delete_image), element_path(element.id), method: :delete, data: {confirm: "本当に削除しますか？"} 
    %p{class: :note}
      = step.note

= form_for @step do |f|
  = f.text_field :note
  = f.submit 'add note'

%h3 let's make steps! by search and choice images
%div{class: :search}
  = form_tag({controller: :steps, action: :get_img}, {method: :get}) do
    = text_field :keyword, :keyword
    = submit_tag "search img"

= form_tag(controller: :elements, action: :create) do
  - if @img_urls
    %div{class: "flex"}
      - @img_urls.each_with_index do |img_url, i|
        %div{class: "image"}
          = radio_button_tag :url, img_url
          = label_tag "url_#{img_url}", 'Use', class: "radio", id: "img-radio"
          = image_tag img_url, height: "200"
  %div
    = radio_button_tag :category, 'Verb'
    = label :category, :verb, '', class: :radio, for: "category_Verb"
    = radio_button_tag :category, 'Material'
    = label :category, :material, 'ingredient', class: :radio, for: "category_Material"
    = radio_button_tag :category, 'Tool'
    = label :category, :tool, '', class: :radio, for: "category_Tool"
  = text_field_tag :keyword, @word
  = submit_tag "add"

= link_to 'next step', steps_path, class: "create_step create", method: :post

